In [11]:
import pandas as pd

# data1 = {
#     'CustomerID':[100,201,102],
#     'FullName':['ศุภชัย','ดวงพร','สมใจ']
# }
# data2 = {
#     'Salary':[20000,19500,18600]
# }

# df1 = pd.DataFrame(data1,index=[1,2,3])
# df2 = pd.DataFrame(data2,index=[1,2,3])

# result = pd.concat([df1,df2],axis=1)
# result

data = [
    ['สมชาย',185,16000],['วีระชัย',175,17500],
    ['พรชัย',182,20000],['วีระ',183,19900]
]

colsname = ['ชื่อ','ส่วนสูง','เงินเดือน']
df = pd.DataFrame(data,columns=colsname)

# result = df.loc[0]
# result = df.loc[[0,3]]
# result = df.loc[0,'ชื่อ']
# result = df.loc[0:2]
# result = df.loc[0:2,'ชื่อ']
# result = df.loc[[True,True,False,True]]
result = df.loc[df['เงินเดือน']>=18000]
result

    ชื่อ  ส่วนสูง  เงินเดือน
2  พรชัย      182      20000
3   วีระ      183      19900