In [5]:
import pandas as pd

data =[ ['สมชาย',185,16000],['วีระชัย',175,17500],
       ['พรชัย',182,20000],['วีระ',183,19900]
       ]

colsname = ['ชื่อ','ส่วนสูง','เงินเดือน']
df1 = pd.DataFrame(data, columns=colsname)
# df2 = df1.rename(columns=
#                  {
#                      'ชื่อ': 'Name',
#                      'ส่วนสูง': 'Height',
#                      'เงินเดือน': 'Salary'
#                  })

df1
# df2

      ชื่อ  ส่วนสูง  เงินเดือน
0    สมชาย      185      16000
1  วีระชัย      175      17500
2    พรชัย      182      20000
3     วีระ      183      19900